* {
	box-sizing: border-box;
	margin: 3px;
	font-family: 'Raleway', sans-serif;
}

h1 {
	color: green;
	font-style: italic;
}

h2,
h3 {
	color: black;
	font-style: italic;
}

.persons {
	color: black;
	padding-top: 3px;
	font-size: 15px;
}

.success {
	color: green;
	background: lightgrey;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
.error {
	color: red;
	background: lightgrey;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.btn {
	background: lightgrey;
	border-style: solid;
	border-radius: 5px;
	margin-left: 10px;
}
